body{
    margin: 0;
    background-image: url(./Nubes.jpeg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(196, 196, 209);
    box-shadow: 0px 0px 5px black;
    background-color: #BFD8D2;
}
.logo{
    justify-content: center;
    align-items: centers;
    margin-left: 5%;
    
}
.navbar{
    background-color: #BFD8D2;
    height: 100px;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: flex-end;
    align-items: center;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 110%;
    font-family: 'Raleway', sans-serif;
    gap: 40px;
    margin-right: 10%;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:#717E85;
}
a span{
    font-weight: bold;
    font-size: 115%;
}
#hero{
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
}
.hero-fondo{
    height: 400px;
    width: 400px;
    border: #717E85;
    border-radius: 15px;
    }
.hero-info{
    width: 50%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 20px;
    padding: 40px;
    padding-top: 0px;
}
.hero-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    background: radial-gradient(circle, rgba(196,52,183,1) 0%, rgba(249,191,140,0.9780287114845938) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hero-text{
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-weight: 100;
}
.hero-text span{
    font-weight: bold;
}
.hero-buton{
    display: flex;
    justify-content: center;
    gap: 30%;
    border: none;
}
.buton{
    width: 200px;
    height: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}
.buton.ingresar{
    background-color: slateblue;
}

    
